<h3 class="text-center" style="margin-top: 6rem;">Forgot Password</h3>
<div class="container d-flex justify-content-center">
  <div class="col bg-light p-4 rounded mt-3" style="max-width: 22rem;">
    <div *ngIf="this.forgotPassDiv">
      <form #forgotPassForm="ngForm" (submit)="forgotPassword(forgotPassForm.value)">
        <div class="form-group">
          <label>Username</label>
          <input type="text" ngModel [class.is-invalid]="username.invalid && username.touched" name="username" #username="ngModel" class="form-control" placeholder="Enter username" aria-describedby="username" required>
          <small *ngIf="this.usernameError" class="form-text text-danger">Username doesn't match, please try again!</small>
          <small [class.d-none]="username.valid || username.untouched" class="form-text text-danger">Username is required</small>
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="!forgotPassForm.valid" class="btn btn-primary float-right" style="width: 7rem;">Send OTP</button>
        </div>

      </form>
    </div>

    <div *ngIf="this.enterOtpDiv">
      <form #otpVerifiy="ngForm" (submit)="OtpVerification(otpVerifiy.value.otpNumber)">
        <div class="form-group">
          <label>Enter OTP</label>
          <input type="text" ngModel name="otpNumber" [class.is-invalid]="otpNumber.invalid && otpNumber.touched" #otpNumber="ngModel" class="form-control" placeholder="Enter 6 digit OTP" aria-describedby="otp" required>
          <small class="form-text text-danger" *ngIf="OtpError">OTP doesn't match, please try again!</small>
          <small [class.d-none]="otpNumber.valid || otpNumber.untouched" class="form-text text-danger">OTP is required</small>
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="!otpVerifiy.valid" class="btn btn-primary float-right" style="width: 7rem;">Submit OTP</button>
        </div>
      </form>
    </div>

    <div *ngIf="this.changePasswordDiv">
      <form #changePass="ngForm" (submit)="changePassword(changePass.value)">
        <div class="form-group">
          <label>New Password</label>
          <input type="password" ngModel name="password" [class.is-invalid]="password.invalid && password.touched" #password="ngModel" class="form-control" placeholder="Enter New assword" aria-describedby="New Password" required>
          <small [class.d-none]="password.valid || password.untouched" class="form-text text-danger">Password is required</small>
        </div>

        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" ngModel name="confirmPassword" [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched" #confirmPassword="ngModel" placeholder="Enter Confirm password" class="form-control" required>
          <small class="form-text text-danger" *ngIf="passMatchingError">Passwords are not matching, please try again!</small>
          <small [class.d-none]="confirmPassword.valid || confirmPassword.untouched" class="form-text text-danger">Confirm Password is required</small>
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="!changePass.valid" class="btn btn-primary float-right" style="width: 7rem;">Save</button>
        </div>
      </form>
    </div>
    <div class="form-group" *ngIf="this.successMsgDiv">
      <label class="text-success mt-3" style="font-weight: bold;">Password has been changed saccessfully!</label>
    </div>
  </div>
</div>
