<div class="mx-3 my-auto">
  <img class="rounded-circle" src="https://pbs.twimg.com/profile_images/1236222132180234241/doCdQ6-l.jpg" style="height: 2rem;" alt="">
  <input class="ml-3" #comment type="text" placeholder="Enter comment..." name="comment"
      style="outline: none; border: 0px solid;">
  <a type="submit" (click)="addNewPost(comment)" class="float-right mr-5">Post</a>
</div>


