<div class="container animate__animated animate__fadeInUp" style="margin-top: 5rem;" *ngIf="detailedPost !== undefined">
  <div class="row d-flex justify-content-center">
    <div class="col" style="max-width: 35rem;">

      <div class="sticky-top" style="top: 5rem; background-color: white;">

        <div class="" style="height: 1rem;">
          <!-- this div only for hide comments which appers top of sticky-top div  -->
        </div>

        <div class="form-inline" style="height: 4rem; border-top-right-radius: 5px; border-top-left-radius: 5px;">
          <div class="mx-3">
            <img class="rounded-circle" src="{{detailedPost.userProfile[0].profilePicture}}" height="40rpm" alt="">
          </div>
          <div>
            <h6 class="my-auto" style="font-weight: bold;">{{detailedPost.username}}</h6>
            <i class="fa fa-globe mx-1" aria-hidden="true"></i>
            <span class="text-muted my-auto">Ichalkaranji</span>
          </div>
        </div>
        <div class="bg-light d-flex justify-content-center">
          <img class="img-fluid" style="height: 400px;" src="{{detailedPost.imageUrl}}" alt="postImage">
        </div>
        <div class="form-inline" style="height: 3rem; ">
          <!-- <i class="fa fa-heart-o fa-2x ml-3" aria-hidden="true"></i> -->
          <i class="fa fa-heart fa-2x ml-3" aria-hidden="true"></i>
          <i class="fa fa-comment-o fa-2x ml-3" aria-hidden="true"></i>
          <i class="fa fa-paper-plane fa-2x ml-3" aria-hidden="true"></i>
          <span class="ml-auto pr-3" style="font-weight: bold;">1,113 Likes</span>
        </div>
        <div style="padding: 0px 20px; font-size: small;">
          <p>{{detailedPost.caption}}</p>
        </div>

        <span class="ml-3 text-muted"
          style="font-size: x-small;">{{detailedPost.publishedDate | date:'mediumDate'}}</span>

        <hr style="width: 30rem;">

        <div style="padding: 0px 10px 5px 10px">
          <h6 class="ml-3 mb-3" style="font-size: medium; font-weight: bold;">Comments</h6>
        </div>
        <!-- Add new comment div -->
        <div style="height: 3rem;">
          <app-add-new-comment [postCommentId]="detailedPost.postCommentId"></app-add-new-comment>
        </div>
        <!-- Add new comment div -->
      </div>
      <!-- post comment div -->

      <div>
        <app-comments [postCommentId]="detailedPost.postCommentId"></app-comments>
      </div>


      <!-- post comment div -->
    </div>
  </div>
</div>
